@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    

}



.header{
    background-color: #07052e;
    position: fixed;
    width: 100%;
    z-index: 55;
   
}

.nav-link{
    color: #fff !important;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;

}
.nav-link:hover{
    color: #fff !important;
    background-color: #084fb7;
    border-radius: 5px;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 31px;
}

.banner{
    width: 100%;
    height: 788px;
    background-image: url(../images/bg2.jpg);
    background-position: center;
}
.img1{
    text-align: center;
}
.img1 img{
    border-radius: 65%;
    margin-top: 100px;
    height: 293px;
    width: 293px;

}
.img1 h1{
    color: #fff;
    font-size: 88px;
    font-family: inherit;
    font-weight: 700;

}


.star-light {
    color: #fff;
}
hr.star-dark, hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
hr.star-light:after {
    color: #fff;
    background-color: #130f32;
}
hr.star-dark:after, hr.star-light:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 .25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}
.img1 h2{
    color: #fff;
}
.raj{
    z-index: 1;
}
.prot h3{
    text-align: center;
    width: 100%;
    font-size: 42px;
    font-family: sans-serif;
    color: #fff;
    padding: 85px 0px 10px 0px;
    text-transform: uppercase;


   
}
.hov1{
    box-shadow: 1px 1px 3px;
    position: relative;
}
.hov1 img{
    max-width: 100%; 
    position: relative;
     z-index: -1;
}


.hov1:hover {
    background-color: #034b57f7;

}
.click1{
    position: absolute;
    top: 36%;
    left: 44%;
    color: #fff;
    font-weight: bold;
    display: none;
    
  }
  .click1 i{
    font-size: 70px;
  }
  .hov1:hover .click1{
  display:block;
  }
  .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center !important;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-dialog {
    margin: 1.75rem auto;
    max-width: 90% !important;
}
.modal-title {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 41px;
    color: #f17e1b;
}
.modal-header .close {
    
    font-size: 62px;
    font-weight: bold !important;
    color: red !important;
}
 .back{
     background-color: #130f32;
     height: 700px;
     width: 100%;
 }
.lead {
    text-align: center!important;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400 !important;
}
.cen{
    color: #fff;
    text-align: center;
    padding-top: 85px;
}
.btn-outline-light {
    padding: 17px 40px !important;
}

.con{
    background-attachment: fixed;
    background-image: url(../images/computer.jpg);
    height: 800px;
    position: relative;
}
.over{
    background-color: #130f3299;
    height: 800px;
    position: absolute;
    top: 0;
    width: 100%;
}
.tect{
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #fff;
    z-index: 1;
    padding: 85px 0px 20px 0px;

}


label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #fff !important;
}
.form-group {
    margin-bottom:0px !important;
}
.btn-primary {
    margin-bottom: 30px;
}

.mar{
   padding-bottom: 10px;
}
.frm{
    padding: 15px;
    box-shadow: 0px 1px 9px #161442;
    background: #503a837a;
    border-radius: 8px;

}
.futter{
   background-image: url(../images/aaa.jpg);
   background-position: center;
   background-repeat: no-repeat;
    width:100%;
    height: 300px;
    position: relative;
}
.main_box{
    background-attachment: fixed;
    background-image: url(../images/atc.jpg);
    background-repeat: no-repeat;
    height: 808px;

}
.nirman h2{
    color: #fff;
}
.nirman h4{
    color: #fff;
    font-size: 17px;
    line-height: 38px;
}
.futter_box{
    padding-top: 50px;
}
.icon1 i{
    border-radius: 50%;
    border: 2px dashed #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0px 9px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;

}
.icon1 i:hover{
    background-color: #171937;
    color: #fff;
    border: 2px dashed #171937;
}
.futter_clo{
    background-color: #171836d4;
    height: 300px;
    position: absolute;
    width: 100%;

}


@media only screen and (max-width: 500px) {
    .img1 h1 {
        font-size: 55px;
    }
    .header {
        background-color: #503a83;
    }
    .raj {
        margin: 7px;
    }
    .futter {
        height: 585px;
    }
    .futter_clo {
        height: 585px;
  }
  .icon1{
      margin-bottom: 20px;
  }
  modal-dialog {
    width: 100% !important;
}
.modal-title {
    font-size: 21px;
}
.main_box {
    height: 1734px;
}
.nav-link:hover {
    color: #fff !important;
    background-color:#9d9595;
}
}


